@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes strokeDashoffset {
	0% {
		stroke-dashoffset: 4;
	}
	100% {
		stroke-dashoffset: 2;
	}
}

@keyframes fillOpacity {
	0% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}

@keyframes radius {
	0% {
		r: 6;
	}
	100% {
		r: 10;
	}
}

.icon-animation {
	animation: strokeDashoffset 0.2s linear forwards 1.2s,
		fillOpacity 0.4s linear 0.6s, radius 0.4s linear 0.1s;
}

.icon-animation-opacity {
	animation: fillOpacity 0.4s linear 0.6s;
}

.icon-animation-radius {
	animation: radius 0.4s linear 0.1s;
}
